body
  background #e5bb47
  color black
  
space = 40px
piece-size = 38px 

#report
  position absolute
  top 10px
  left 10px

gradient(top = #222, bottom = #000)
  background: top; /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover,  top 0%, bottom 100%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,top), color-stop(100%,bottom)); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover,  top 0%,bottom 100%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover,  top 0%,bottom 100%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover,  top 0%,bottom 100%); /* IE10+ */
  background: radial-gradient(ellipse at center,  top 0%,bottom 100%); /* W3C */
  /* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='top', endColorstr='bottom',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

border-radius(radius = 100px)
  -webkit-border-radius radius
  -moz-border-radius radius
  border-radius radius

.marking
  position absolute
  display block
  background black

#board
  position relative
  margin 0 auto
  cursor none
  border-bottom 1px solid black
  border-right 1px solid black
  
  //padding (space/2)

  dot
    @extends .marking
    border-radius() 
    width 6px 
    height @width 
    margin-top -(@width/2)
    margin-left -(@width/2)

  line
    @extends .marking

  .horizontal
    width 100%
    height 1px

  .vertical
    height 100%
    width 1px
    
  shadow
    @extends .marking
    border-radius() 
    z-index 1
    opacity 0.3
    width piece-size
    height piece-size
    margin-top -(piece-size/2)
    margin-left -(piece-size/2)
    
  piece
    border-radius() 
    z-index 2
    position absolute
    width piece-size
    height piece-size
    margin-top -(piece-size/2)
    margin-left -(piece-size/2)

    img
      width piece-size
      height piece-size
    
  piece
    content url(../img/black.png)
  
  piece#mover
    z-index 3
  
  piece.white
    content url(../img/white0.png)
  
  piece.white.var1
    content url(../img/white1.png)
  
  piece.white.var2
    content url(../img/white2.png)
  
  piece.white.var3
    content url(../img/white3.png)
  
  shadow, 
  piece#mover
    display none
  
.controls
  padding 10px

.controls.loggedin
  display none

